.transaction-table{
    width: 100%;
    .copy-icon{
        height: 1em;
    }
    overflow: hidden;
    border-radius: 20px;
}
th {
    background-color: #F1F3F6 !important;
    font-weight: 500 !important;
}
mat-paginator{
    width: 100%;
    margin-block: 5px;
    background-color: transparent;
}    