.stats-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    mat-card{
        width: 30%;
        margin: 0.5rem;
        padding: 1rem;
        .stats{
            font-size: 2em;
            font-weight: 500;
        }
        .blue{
            color: #0047AB;
        }
        .green{
            color: green;
        }
        .red{
            color: #DC143C;
        }
    }
}