<div class="stats-wrapper">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Total Sales
            </mat-card-title>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
            <span class="stats blue">INR 2,12,738</span>
        </mat-card-content>
    </mat-card>
    
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Received
            </mat-card-title>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
            <span class="stats green">INR 1,72,662</span>
        </mat-card-content>
    </mat-card>
    
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Pending
            </mat-card-title>
        </mat-card-header>
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
            <span class="stats red">INR 40,076</span>
        </mat-card-content>
    </mat-card>
</div>